body {
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond;
    background-image: url('./recipe_resources/images/silverware.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
}

h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration: underline;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 22pt;
}

h3 {
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration: underline;
    text-align: left;
    font-weight: normal;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18pt;
}

.comments {

    width: 80%;
    height: 20%;
    align-self: center;
    font-style: italic;
    list-style: none;

}

.comments > li {
    background-color: #FFFFA8;
    padding: 10px;
    margin-bottom: 10px;
}

p > aside {
    text-decoration: line-through;
}


a {
    color: #A4A400;
}
a:hover {
    color: #FF00FF;
}

pre {
    font-family: monospace;
    color: #343a40;
}
ul,
ol {
    list-style-image: url('./recipe_resources/images/pie_icon.gif');
}

.desc {
    list-style: none;
    padding: unset;
}
