body{
    color: #404040  ;
    font-size: 11pt;
    font-family:  Georgia, Garamond;
    background-image: url('./recipe_resources/images/silverware.jpg');
    background-repeat:  repeat;
    background-attachment: fixed;
}

h2{
    color: #A4A400;
    background-color: #F0F0F0 ;
    text-decoration: underline;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 22pt;
}

h3{
    color: #A4A400;
    background-color: #F0F0F0 ;
    text-decoration: underline;
    text-align: left;
    font-weight: normal;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18pt;
}

section{
    background-color: #FFFFA8 ;
    width: 80%;
    height: 20%;
    align-self: center;
    font-style: italic;
}

p>aside{
    text-decoration: line-through;
}


a {
    color: #A4A400;
}
a:hover {
    color: #FF00FF;
    }

pre{
    font-family: monospace;
    color: #343a40;
}