
body{
    background-color: #d1e3f8;
    color: #314166;
}

strong{
    color: purple;
}

hr{
    color: white;
}

h1{
font-family: cursive;
font-style: inherit;
}

 

h2{
    font-family: 'Handlee';
}

