
*{
    margin: unset;
    padding: unset;
}

body{
    background-image: url('background.png');
    
    
}

#banner{
    text-align: center;
    background-image: url('bannerbg.png');
    background-repeat: repeat;
}

h1{
    text-align: center;
}